
<div class="row mb-4"> 
    <div class="col">
        <input type="text" class="form-control" #termino name="artist" (keyup.enter)="buscar()" placeholder="Search Artist...">
    </div>
</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>

<ng-container *ngIf="artist?.name">
    
    <div class="row">
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Artist: {{ artist.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <strong>Followers: </strong>
                    <span>{{ artist.followers.total }}</span>                      
                  </mat-card-subtitle>                  
                </mat-card-header>
                <img mat-card-image [src]="artist.images | noimage" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <strong>Genres: </strong>
                    <span>{{ artist.genres.join() }}</span>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-8">
           
            <table mat-table [dataSource]="tracksArr" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Track </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef> Duration </th>
                  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>
              
                <ng-container matColumnDef="album">
                  <th mat-header-cell *matHeaderCellDef> Album </th>
                  <td mat-cell *matCellDef="let element"> {{element.album}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="alert">
    <div class="alert alert-danger">
        No se encontraron resultados con '{{ termino.value }}'    </div>
</ng-container>

