<h2>Por Artista</h2>
<hr>
<!-- <div class="row"> 
    <div class="col">
        <form (ngSubmit)="buscar(termino.value)" autocomplete="off">
              <input type="text"
                class="form-control" 
                #termino                
                name="artist"
                placeholder="Artist..."
                >
        </form>
    </div>
</div> -->

<hr>
<div class="alert alert-danger">
    No se encontro nada con el termino ""
</div>

<ng-container>
    <div class="row">
        <div class="col">
            <img [src]="" alt="">
        </div>
        <div class="col">
    
        </div>
    </div>
</ng-container>



<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Album</th>
            <th>Lanzamiento</th>
            <th>...</th>
        </tr>
    </thead>
        <tr>
            <td>1</td>
            <td>Here I go Again</td>
            <td>The best of whitesnake</td>
            <td>...</td>
        </tr>

    <tbody>
    </tbody>    
</table>